doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://cdn.tailwindcss.com')
  title Create an article
  body.bg-slate-800   
    .flex.bg-indigo-300
        .font-bold.mx-3.my-3.text-white.text-2xl NEW ARTICLE
    .mr-10.my-4.mx-3
        p.text-white.text-lg article.name
        input.name.mx-3.px-3.h-10.flex.text-xl.w-full.rounded-md.border.border-input.bg-background.ring-offset-background(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50' required='required' type='text' name='title' placeholder='Enter your Name')
    .mr-10.my-4.mx-3
        p.text-white.text-lg Title
        input.name.mx-3.px-3.h-10.flex.text-xl.w-full.rounded-md.border.border-input.bg-background.ring-offset-background(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50' required='required' type='text' name='title' placeholder='Enter the title of your blog')
    .mr-10.my-4.mx-3
        p.text-white.text-lg article.description
        input.name.mx-3.px-3.h-40.flex.text-xl.w-full.rounded-md.border.border-input.bg-background.ring-offset-background(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50' required='required' type='text' name='title' placeholder='Enter text')
    .mr-10.my-4.mx-3
        p.text-white.text-lg article.markdown
        input.name.mx-3.px-3.h-40.flex.text-xl.w-full.rounded-md.border.border-input.bg-background.ring-offset-background(class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50' required='required' type='text' name='title' placeholder='Enter text')
    button#save.mx-4.my-4.relative.py-2.px-8.text-black.text-base.font-bold.nded-full.overflow-hidden.bg-white.rounded-full.transition-all.duration-400.ease-in-out.shadow-md(type='submit' class='hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-green-800 before:to-blue-300 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0') Save
    
    //- <a href="/">
    //- <button
    //- class="mx-4 my-4 relative py-2 px-8 text-black text-base font-bold nded-full overflow-hidden bg-white rounded-full transition-all duration-400 ease-in-out shadow-md hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-red-800 before:to-blue-300 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0"
    //- >
    //- Cancel
    //- </button>
    //- </a>
    a.reative.py-2.px-8.text-black.text-base.font-bold.nded-full.overflow-hidden.bg-white.rounded-full.transition-all.duration-400.ease-in-out.shadow-md(href='/' class='hover:bg-red-600 hover:scale-105 hover:text-black hover:shadow-lg active:scale-90 before:absolute before:top-0') Cancel
